<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryz.mapper.SysLogsMapper" >
  <resultMap id="BaseResultMap" type="com.ryz.entity.SysLogs" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="LOGIN_ID" property="loginId" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="VARCHAR" />
    <result column="LOG_DATE" property="logDate" jdbcType="TIMESTAMP" />
    <result column="CLASSS" property="classs" jdbcType="VARCHAR" />
    <result column="METHOD" property="method" jdbcType="VARCHAR" />
    <result column="MSG" property="msg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, LOGIN_ID, PRIORITY, LOG_DATE, CLASSS, METHOD, MSG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryz.entity.SysLogsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_logs
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_logs
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ryz.entity.SysLogsExample" >
    delete from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryz.entity.SysLogs" >
    insert into sys_logs (ID, LOGIN_ID, PRIORITY, 
      LOG_DATE, CLASSS, METHOD, 
      MSG)
    values (#{id,jdbcType=BIGINT}, #{loginId,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR}, 
      #{logDate,jdbcType=TIMESTAMP}, #{classs,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryz.entity.SysLogs" >
    insert into sys_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loginId != null" >
        LOGIN_ID,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="logDate != null" >
        LOG_DATE,
      </if>
      <if test="classs != null" >
        CLASSS,
      </if>
      <if test="method != null" >
        METHOD,
      </if>
      <if test="msg != null" >
        MSG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="logDate != null" >
        #{logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="classs != null" >
        #{classs,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryz.entity.SysLogsExample" resultType="java.lang.Integer" >
    select count(*) from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_logs
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.loginId != null" >
        LOGIN_ID = #{record.loginId,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=VARCHAR},
      </if>
      <if test="record.logDate != null" >
        LOG_DATE = #{record.logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classs != null" >
        CLASSS = #{record.classs,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null" >
        METHOD = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null" >
        MSG = #{record.msg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_logs
    set ID = #{record.id,jdbcType=BIGINT},
      LOGIN_ID = #{record.loginId,jdbcType=VARCHAR},
      PRIORITY = #{record.priority,jdbcType=VARCHAR},
      LOG_DATE = #{record.logDate,jdbcType=TIMESTAMP},
      CLASSS = #{record.classs,jdbcType=VARCHAR},
      METHOD = #{record.method,jdbcType=VARCHAR},
      MSG = #{record.msg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryz.entity.SysLogs" >
    update sys_logs
    <set >
      <if test="loginId != null" >
        LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        PRIORITY = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="logDate != null" >
        LOG_DATE = #{logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="classs != null" >
        CLASSS = #{classs,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        MSG = #{msg,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryz.entity.SysLogs" >
    update sys_logs
    set LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=VARCHAR},
      LOG_DATE = #{logDate,jdbcType=TIMESTAMP},
      CLASSS = #{classs,jdbcType=VARCHAR},
      METHOD = #{method,jdbcType=VARCHAR},
      MSG = #{msg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>